
paper/abstract.aux
paper/abstract.log
paper/abstract.pdf
paper/abstract.synctex.gz
paper/abstract.out
paper/abstract.bbl
paper/abstract.blg
paper/abstract.synctex.gz
paper/abstract.synctex.gz
paper/*.log
*.idlk
sim/data/wlan.lrz-data
*.pycache
*.pyc
*.ipynb_checkpoints
sim/.vscode/settings.json
.DS_Store
*/.DS_Store
paper/reviewes/document.aux
paper/reviewes/document.log
paper/reviewes/document.pdf
paper/reviewes/document.synctex.gz
